*{
    box-sizing: border-box;
}

body{
    background: #9b59b6;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.header{
    background: #f7f7f7;
    padding: 20px 40px;
    border-bottom: 1px solid #f0f0f0;
}
.header h2{
    margin: 0;
}

.sign_up_form{
    padding: 30px 40px ;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}


/* input control  */

.input-control{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;

}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #797272;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    outline: none;
    position: relative;

}

 .form-control  .fas {
    position: absolute;
    top: 40px;
    right: 40px;
    visibility: hidden;
}



.form-control.success  input{
    border-color: #2ecc71;
}

.form-control.error  input{
    border-color: #e74c3c;

    
}


/* removing the error circle if there is no error in the  form */
/* try to use font awesome class list togling  */

.form-control.success  .valid-circle{
    color: #2ecc71;
    visibility: visible;
}

.form-control.error .error-circle{
    color: #e74c3c;
    visibility: visible;
}


.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small{
    color: #e74c3c;
    visibility:visible;
}


.sign_up_form button{
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}
